<a href="https://colab.research.google.com/github/anmuhina/VkCloud/blob/master/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [101]:
#1. Загрузите данные из файла "AirQualityUCI.csv" в DataFrame pandas
df = pd.read_csv('AirQualityUCI.csv', delimiter=';')
print(df)

            Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9466         NaN       NaN    NaN          NaN       NaN      NaN
9467         NaN       NaN    NaN          NaN       NaN      NaN
9468         NaN       NaN    NaN          NaN       NaN      NaN
9469         NaN       NaN    NaN          NaN       NaN      NaN
9470         NaN       NaN    NaN          NaN       NaN      NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13,6  48,9  0,7578          NaN          NaN
1           972.0  13,3  47,7  0,7255          NaN          NaN
2          1074.0  11,9  54,0  0,7502          NaN          NaN
3          1203.0  11,0  60,0  0,7867          NaN          NaN
4          1110.0  11,2  59,6  0,7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]

In [73]:
#2. Выведите первые и последние 5 строк DataFrame
print(df.head(5))
print("\n",df.tail(5))

         Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  \
0  10/03/2004  18.00.00    2,6       1360.0     150.0     11,9         1046.0
1  10/03/2004  19.00.00      2       1292.0     112.0      9,4          955.0
2  10/03/2004  20.00.00    2,2       1402.0      88.0      9,0          939.0
3  10/03/2004  21.00.00    2,2       1376.0      80.0      9,2          948.0
4  10/03/2004  22.00.00    1,6       1272.0      51.0      6,5          836.0

   NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)     T    RH  \
0    166.0        1056.0    113.0        1692.0       1268.0  13,6  48,9
1    103.0        1174.0     92.0        1559.0        972.0  13,3  47,7
2    131.0        1140.0    114.0        1555.0       1074.0  11,9  54,0
3    172.0        1092.0    122.0        1584.0       1203.0  11,0  60,0
4    131.0        1205.0    116.0        1490.0       1110.0  11,2  59,6

       AH  Unnamed: 15  Unnamed: 16
0  0,7578          NaN          NaN
1  0,7255          NaN          NaN
2  0,7502          NaN          NaN
3  0,7867          NaN          NaN
4  0,7888          NaN          NaN

      Date Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
9466  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9467  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9468  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9469  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN
9470  NaN  NaN    NaN          NaN       NaN      NaN            NaN      NaN

      PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)    T   RH   AH  \
9466           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9467           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9468           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9469           NaN      NaN           NaN          NaN  NaN  NaN  NaN
9470           NaN      NaN           NaN          NaN  NaN  NaN  NaN

      Unnamed: 15  Unnamed: 16
9466          NaN          NaN
9467          NaN          NaN
9468          NaN          NaN
9469          NaN          NaN
9470          NaN          NaN

In [74]:
#3. Выведите общее количество строк (измерений) и столбцов (признаков) в DataFrame
print("Кол-во строк:", len(df))
print("Кол-во столбцов:", len(df.columns))
#print(df.shape)

Кол-во строк: 9471
Кол-во столбцов: 17

In [75]:
#4. Выведите список названий всех столбцов в DataFrame
'''for index, column in enumerate(df.columns):
    print(f"Column {index}: {column}")'''
myList = list()
for i in enumerate(df.columns):
    myList.append(i[1])
print(myList)

['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16']

In [76]:
#5. Проверьте, есть ли в DataFrame пропущенные значения. Выведите количество пропущенных значений для каждого столбца
print(df.isnull().any().any(),"\n")
print(df.isnull().sum(axis=0))

True

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [77]:
#6. Выведите основные статистические характеристики (среднее, медиана, стандартное отклонение, минимум, максимум, квартили) для числовых столбцов DataFrame
print(df.describe())

       PT08.S1(CO)     NMHC(GT)  PT08.S2(NMHC)      NOx(GT)  PT08.S3(NOx)  \
count  9357.000000  9357.000000    9357.000000  9357.000000   9357.000000
mean   1048.990061  -159.090093     894.595276   168.616971    794.990168
std     329.832710   139.789093     342.333252   257.433866    321.993552
min    -200.000000  -200.000000    -200.000000  -200.000000   -200.000000
25%     921.000000  -200.000000     711.000000    50.000000    637.000000
50%    1053.000000  -200.000000     895.000000   141.000000    794.000000
75%    1221.000000  -200.000000    1105.000000   284.000000    960.000000
max    2040.000000  1189.000000    2214.000000  1479.000000   2683.000000

           NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  Unnamed: 15  Unnamed: 16
count  9357.000000   9357.000000  9357.000000          0.0          0.0
mean     58.148873   1391.479641   975.072032          NaN          NaN
std     126.940455    467.210125   456.938184          NaN          NaN
min    -200.000000   -200.000000  -200.000000          NaN          NaN
25%      53.000000   1185.000000   700.000000          NaN          NaN
50%      96.000000   1446.000000   942.000000          NaN          NaN
75%     133.000000   1662.000000  1255.000000          NaN          NaN
max     340.000000   2775.000000  2523.000000          NaN          NaN

In [78]:
#7. Выведите сводную информацию о DataFrame, включая типы данных столбцов, количество непустых значений и объем занимаемой памяти
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

In [79]:
#8. Какие уникальные значения принимает признак "T" (температура)? Выведите все уникальные значения, их количество и частоту встречаемости
print("Уникальные значения:", df['T'].unique(), "\n")
print("Кол-во уникальных значений:", df['T'].nunique(), "\n")
print("Частота встречаемости:", df['T'].value_counts())

Уникальные значения: ['13,6' '13,3' '11,9' '11,0' '11,2' '11,3' '10,7' '10,3' '10,1' '10,5'
 '10,2' '10,8' '9,5' '8,3' '8,0' '9,7' '9,8' '9,6' '9,1' '8,2' '7,7' '7,1'
 '7,0' '6,1' '6,3' '6,8' '6,4' '7,3' '9,2' '13,2' '14,3' '15,0' '16,1'
 '16,3' '15,8' '15,9' '16,9' '15,1' '14,4' '12,9' '12,1' '8,8' '7,8' '7,2'
 '6,5' '12,4' '15,6' '18,4' '19,4' '18,0' '17,6' '16,7' '15,7' '15,3'
 '14,6' '14,7' '13,9' '12,5' '11,6' '11,5' '10,4' '14,5' '19,3' '21,2'
 '21,4' '21,9' '22,2' '21,3' '19,7' '14,8' '14,0' '13,4' '12,6' '12,3'
 '11,4' '17,4' '19,8' '22,0' '23,3' '23,9' '24,4' '23,8' '22,5' '20,4'
 '18,3' '14,1' '12,8' '11,7' '17,8' '25,3' '25,8' '27,0' '28,2' '28,0'
 '19,0' '17,9' '15,5' '13,1' '12,7' '11,8' '9,9' '11,1' '17,7' '21,1'
 '24,3' '25,6' '25,9' '26,8' '29,3' '28,5' '23,1' '20,5' '19,1' '17,2'
 '16,0' '12,0' '10,9' '10,6' '20,8' '24,2' '25,2' '27,1' '23,0' '20,7'
 '18,6' '13,0' '16,4' '15,4' '15,2' '14,2' '13,8' '13,5' '17,1' '19,5'
 '18,5' '16,2' '14,9' '18,9' '20,3' '17,0' '16,5' '21,0' '20,2' '10,0'
 '13,7' '16,6' '9,3' '7,6' '8,1' '8,7' '8,6' '12,2' '9,4' '8,5' '16,8'
 '19,2' '7,9' '7,4' '18,7' '18,2' '17,5' '22,4' '20,9' '18,1' '17,3' '9,0'
 '20,6' '21,8' '-200' '23,6' '22,8' '22,9' '24,7' '26,1' '27,6' '26,9'
 '24,8' '25,0' '25,1' '23,7' '22,1' '19,9' '21,5' '21,6' '18,8' '19,6'
 '22,7' '22,3' '22,6' '26,3' '27,3' '28,1' '28,3' '30,8' '31,3' '29,4'
 '29,7' '29,2' '29,6' '30,0' '29,5' '24,9' '20,0' '27,2' '27,5' '23,4'
 '25,4' '25,7' '24,5' '26,7' '27,4' '27,7' '28,4' '21,7' '24,6' '26,0'
 '25,5' '30,3' '30,9' '30,2' '26,4' '23,5' '26,5' '30,6' '29,9' '31,5'
 '31,2' '30,4' '32,2' '31,7' '30,1' '31,0' '31,6' '28,8' '28,6' '31,1'
 '32,4' '32,6' '24,1' '20,1' '32,8' '32,5' '27,9' '28,9' '32,3' '32,1'
 '31,8' '23,2' '28,7' '29,1' '29,8' '32,0' '30,5' '30,7' '24,0' '31,4'
 '26,2' '29,0' '26,6' '27,8' '34,4' '33,7' '35,9' '34,3' '33,5' '37,5'
 '37,7' '37,8' '36,6' '34,7' '37,2' '39,5' '40,6' '40,3' '39,6' '37,3'
 '35,4' '37,9' '39,7' '40,4' '40,0' '38,9' '35,8' '33,1' '37,4' '36,4'
 '34,2' '31,9' '35,1' '36,0' '37,0' '35,2' '33,9' '35,3' '34,0' '32,7'
 '33,6' '33,0' '33,2' '33,3' '34,9' '36,1' '37,6' '35,6' '34,8' '33,4'
 '32,9' '35,5' '36,2' '34,5' '36,3' '38,3' '38,4' '39,0' '41,3' '41,8'
 '42,2' '41,4' '40,1' '39,9' '39,1' '38,0' '37,1' '36,9' '39,3' '38,5'
 '38,8' '38,1' '34,6' '34,1' '38,2' '40,2' '42,6' '42,5' '41,0' '39,2'
 '41,1' '41,9' '40,9' '33,8' '35,7' '36,5' '39,4' '36,8' '40,5' '39,8'
 '41,7' '42,8' '42,0' '42,7' '41,6' '44,3' '44,6' '43,4' '43,1' '38,7'
 '38,6' '35,0' '36,7' '40,7' '5,6' '5,1' '4,4' '4,1' '3,2' '3,7' '4,9'
 '6,9' '6,7' '7,5' '8,9' '8,4' '6,2' '5,7' '5,9' '6,6' '5,2' '5,3' '4,2'
 '3,1' '3,5' '1,8' '1,3' '3,9' '3,3' '2,6' '4,5' '5,4' '6,0' '4,3' '4,0'
 '4,8' '2,2' '2,5' '5,0' '5,8' '4,7' '5,5' '3,0' '2,3' '1,5' '2,8' '1,2'
 '1,4' '2,4' '2,1' '3,4' '3,6' '4,6' '2,7' '1,9' '1,6' '1,0' '1,7' '2,9'
 '3,8' '2,0' '0,8' '0,6' '0,3' '0,9' '1,1' '0,7' '0,2' '0,1' '-0,1' '-0,3'
 '-0,6' '-0,2' '0,0' '-1,1' '-1,4' '-1,3' '-1,2' '-1,9' '-0,5' '0,5' nan]

Кол-во уникальных значений: 437

Частота встречаемости: T
-200    366
20,8     57
21,3     54
13,8     51
20,2     51
       ...
43,4      1
43,1      1
36,7      1
40,7      1
0,5       1
Name: count, Length: 437, dtype: int64

In [102]:
#9. Выведите строки DataFrame, где уровень концентрации оксида углерода (CO(GT))превышает 3 мг/м³, а температура (T) ниже 20°C
df['CO(GT)'] = df['CO(GT)'].str.replace(',', '.')
df['CO(GT)'] = pd.to_numeric(df['CO(GT)'], errors='coerce')
df['T'] = df['T'].str.replace(',', '.')
df['T'] = pd.to_numeric(df['T'], errors='coerce')
df['C6H6(GT)'] = df['C6H6(GT)'].str.replace(',', '.')
df['RH'] = df['RH'].str.replace(',', '.')
df['AH'] = df['AH'].str.replace(',', '.')

print(df[(df['CO(GT)'] > 3) & (df['T'] < 20)])

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
24    11/03/2004  18.00.00     4.8       1581.0     307.0     20.8
25    11/03/2004  19.00.00     6.9       1776.0     461.0     27.4
26    11/03/2004  20.00.00     6.1       1640.0     401.0     24.0
27    11/03/2004  21.00.00     3.9       1313.0     197.0     12.8
38    12/03/2004  08.00.00     4.4       1587.0     202.0     17.9
...          ...       ...     ...          ...       ...      ...
9253  31/03/2005  07.00.00     4.0       1531.0    -200.0     23.6
9254  31/03/2005  08.00.00     4.1       1184.0    -200.0     10.9
9349  04/04/2005  07.00.00     4.0       1384.0    -200.0     17.4
9350  04/04/2005  08.00.00     5.0       1446.0    -200.0     22.4
9351  04/04/2005  09.00.00     3.9       1297.0    -200.0     13.6

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
24           1319.0    281.0         799.0    151.0        2083.0
25           1488.0    383.0         702.0    172.0        2333.0
26           1404.0    351.0         743.0    165.0        2191.0
27           1076.0    240.0         957.0    136.0        1707.0
38           1236.0    307.0         897.0    141.0        1900.0
...             ...      ...           ...      ...           ...
9253         1394.0    673.0         407.0    133.0        1860.0
9254         1012.0    547.0         567.0    170.0        1397.0
9349         1221.0    594.0         470.0    155.0        1600.0
9350         1362.0    586.0         415.0    174.0        1777.0
9351         1102.0    523.0         507.0    187.0        1375.0

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
24         1409.0  10.3  64.2  0.8065          NaN          NaN
25         1704.0   9.7  69.3  0.8319          NaN          NaN
26         1654.0   9.6  67.8  0.8133          NaN          NaN
27         1285.0   9.1  64.0  0.7419          NaN          NaN
38         1400.0   7.3  63.1  0.6499          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9253       1683.0  12.7  69.6  1.0206          NaN          NaN
9254       1341.0  16.8  51.6  0.9818          NaN          NaN
9349       1457.0   9.7  61.9  0.7446          NaN          NaN
9350       1705.0  13.5  48.9  0.7553          NaN          NaN
9351       1583.0  18.2  36.3  0.7487          NaN          NaN

[1132 rows x 17 columns]

In [103]:
#10. Создайте новый признак "NOx_CO_ratio", который будет представлять собой отношение уровня концентрации оксидов азота (NOx(GT)) к уровню концентрации оксида углерода (CO(GT))
df['NOx_CO_ratio'] = df['NOx(GT)'] / df['CO(GT)']
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16,NOx_CO_ratio
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN,63.846154
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN,51.500000
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN,59.545455
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN,78.181818
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN,81.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
#11. новый размер DataFrame после добавления нового столбца (??)
df.shape

(9471, 18)

In [113]:
#12. Какое значение температуры (T) встречается в датасете чаще всего?

#df['T'].mode()[0] - выводится -200
temperatures = df[df['T'] != -200]
most_frequent_temperature = temperatures['T'].mode()[0]
most_frequent_temperature

20.8

In [114]:
#13. Найдите количество строк, в которых отсутствуют данные о концентрации бензола (C6H6(GT)). Выведите информацию об этих строках. (пропущенные значения могут быть представлены как -200)
missing_list = df[df['C6H6(GT)'].isnull() | (df['C6H6(GT)'] == -200)]
print(missing_list, "\n")
print("Кол-во строк с пропусками:", missing_list.shape[0])

     Date Time  CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  PT08.S2(NMHC)  \
9357  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9358  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9359  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9360  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9361  NaN  NaN     NaN          NaN       NaN      NaN            NaN
...   ...  ...     ...          ...       ...      ...            ...
9466  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9467  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9468  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9469  NaN  NaN     NaN          NaN       NaN      NaN            NaN
9470  NaN  NaN     NaN          NaN       NaN      NaN            NaN

      NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)   T   RH   AH  \
9357      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9358      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9359      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9360      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9361      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
...       ...           ...      ...           ...          ...  ..  ...  ...
9466      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9467      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9468      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9469      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN
9470      NaN           NaN      NaN           NaN          NaN NaN  NaN  NaN

      Unnamed: 15  Unnamed: 16  NOx_CO_ratio
9357          NaN          NaN           NaN
9358          NaN          NaN           NaN
9359          NaN          NaN           NaN
9360          NaN          NaN           NaN
9361          NaN          NaN           NaN
...           ...          ...           ...
9466          NaN          NaN           NaN
9467          NaN          NaN           NaN
9468          NaN          NaN           NaN
9469          NaN          NaN           NaN
9470          NaN          NaN           NaN

[114 rows x 18 columns]

Кол-во строк с пропусками: 114

In [115]:
#14. Найдите минимальный уровень концентрации оксида углерода (CO(GT)) при температуре выше 25°C. Выведите информацию об этих измерениях
min_CO_above_25 = df[df['T'] > 25]['CO(GT)'].min()
min_CO_info = df[(df['T'] > 25) & (df['CO(GT)'] == min_CO_above_25)]
print("Инфа:", min_CO_info)
print("Мин уровень CO при T > 25°C:", min_CO_above_25)

Инфа:             Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
574   03/04/2004  16.00.00  -200.0       1361.0    -200.0     13.5
575   03/04/2004  17.00.00  -200.0       1398.0    -200.0     15.2
594   04/04/2004  12.00.00  -200.0       1272.0    -200.0      8.6
595   04/04/2004  13.00.00  -200.0       1160.0    -200.0      7.1
596   04/04/2004  14.00.00  -200.0       1136.0    -200.0      5.6
...          ...       ...     ...          ...       ...      ...
5372  20/10/2004  14.00.00  -200.0       1589.0    -200.0     24.6
5373  20/10/2004  15.00.00  -200.0       1538.0    -200.0     22.4
5732  04/11/2004  14.00.00  -200.0       1414.0    -200.0     24.4
5733  04/11/2004  15.00.00  -200.0       1463.0    -200.0     24.5
5734  04/11/2004  16.00.00  -200.0       1530.0    -200.0     24.8

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
574          1102.0   -200.0         834.0   -200.0        1704.0
575          1156.0   -200.0         812.0   -200.0        1722.0
594           924.0   -200.0         895.0   -200.0        1603.0
595           860.0   -200.0         969.0   -200.0        1531.0
596           792.0   -200.0        1057.0   -200.0        1476.0
...             ...      ...           ...      ...           ...
5372         1418.0   -200.0         452.0   -200.0        2015.0
5373         1362.0   -200.0         473.0   -200.0        1924.0
5732         1414.0    486.0         478.0    139.0        1896.0
5733         1417.0    512.0         467.0    156.0        1900.0
5734         1425.0    595.0         457.0    143.0        1975.0

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16  NOx_CO_ratio
574         991.0  25.8  26.5  0.8675          NaN          NaN         1.000
575        1076.0  25.1  27.1  0.8496          NaN          NaN         1.000
594         881.0  25.1  33.8  1.0594          NaN          NaN         1.000
595         646.0  25.6  32.1  1.0393          NaN          NaN         1.000
596         536.0  25.8  31.1  1.0143          NaN          NaN         1.000
...           ...   ...   ...     ...          ...          ...           ...
5372       1823.0  25.4  55.1  1.7610          NaN          NaN         1.000
5373       1793.0  25.7  54.5  1.7684          NaN          NaN         1.000
5732       1588.0  25.9  42.8  1.4122          NaN          NaN        -2.430
5733       1651.0  26.8  43.3  1.4977          NaN          NaN        -2.560
5734       1652.0  26.6  45.5  1.5555          NaN          NaN        -2.975

[502 rows x 18 columns]
Мин уровень CO при T > 25°C: -200.0

In [119]:
#15. Найдите количество измерений, в которых относительная влажность (RH) превышает 90%. Выведите информацию об этих измерениях
df['RH'] = pd.to_numeric(df['RH'], errors='coerce')
rh_over_90 = df[df['RH'] > 90]
count = rh_over_90.shape[0]
print("Инфа:", rh_over_90)
print("Количество измерений с RH > 90%:", count)

Инфа: Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH, Unnamed: 15, Unnamed: 16, NOx_CO_ratio]
Index: []
Количество измерений с RH > 90%: 0

In [123]:
#16. Найдите разницу между средним уровнем концентрации оксида углерода (CO(GT)) при температуре выше и ниже 20°C. Округлите результат до двух знаков после запятой
mean_CO_above_20 = df[df['T'] > 20]['CO(GT)'].mean()
mean_CO_below_20 = df[df['T'] <= 20]['CO(GT)'].mean()
diff = round(mean_CO_above_20 - mean_CO_below_20, 2)
print("Уровень концентрации при температуре ниже 20:", mean_CO_below_20)
print("Уровень концентрации при температуре выше 20:", mean_CO_above_20)
print("\nРазница:", abs(diff))

Уровень концентрации при температуре ниже 20: -26.51078639744952
Уровень концентрации при температуре выше 20: -45.917515494475886

Разница: 19.41

In [124]:
#17. Создайте признак "High_Ozone", который будет равен 1, если уровень концентрации озона (PT08.S5(O3)) превышает среднее значение, и 0 в противном случае
ozone_mean = df['PT08.S5(O3)'].mean()
df['High_Ozone'] = (df['PT08.S5(O3)'] > ozone_mean).astype(int)
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16,NOx_CO_ratio,High_Ozone
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN,63.846154,1
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN,51.500000,0
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN,59.545455,1
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN,78.181818,1
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN,81.875000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [126]:
#18. Выведите наиболее распространенный уровень концентрации оксидов азота (NOx(GT))
concentrations = df[df['NOx(GT)'] != -200]
concentrations['NOx(GT)'].mode()[0]

89.0

In [129]:
#19. Найдите количество измерений, в которых и уровень концентрации бензола (C6H6(GT)), и уровень концентрации оксидов азота (NOx(GT)) превышают свои средние значения
df['C6H6(GT)'] = pd.to_numeric(df['C6H6(GT)'], errors='coerce')
mean_benz = df['C6H6(GT)'].mean()
mean_nox = df['NOx(GT)'].mean()
count = df[(df['C6H6(GT)'] > mean_benz) & (df['NOx(GT)'] > mean_nox)].shape[0]
count

3873

In [130]:
#20. Найдите максимальную температуру (T) среди измерений, где уровень концентрации диоксида азота (NO2(GT)) ниже 50 мкг/м³
df[df['NO2(GT)'] < 50]['T'].max()

40.7

In [131]:
#21. Найдите количество измерений, в которых уровень концентрации оксида углерода (CO(GT)) выше среднего значения по датасету. Выведите информацию об этих измерениях
mean_CO = df['CO(GT)'].mean()
above_mean_CO = df[df['CO(GT)'] > mean_CO]
count = above_mean_CO.shape[0]
print("Инфа:", above_mean_CO)
print("Количество измерений с CO(GT) выше среднего:", count)

Инфа:             Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004  22.00.00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9352  04/04/2005  10.00.00     3.1       1314.0    -200.0      13.5
9353  04/04/2005  11.00.00     2.4       1163.0    -200.0      11.4
9354  04/04/2005  12.00.00     2.4       1142.0    -200.0      12.4
9355  04/04/2005  13.00.00     2.1       1003.0    -200.0       9.5
9356  04/04/2005  14.00.00     2.2       1071.0    -200.0      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16  NOx_CO_ratio  \
0          1268.0  13.6  48.9  0.7578          NaN          NaN     63.846154
1           972.0  13.3  47.7  0.7255          NaN          NaN     51.500000
2          1074.0  11.9  54.0  0.7502          NaN          NaN     59.545455
3          1203.0  11.0  60.0  0.7867          NaN          NaN     78.181818
4          1110.0  11.2  59.6  0.7888          NaN          NaN     81.875000
...           ...   ...   ...     ...          ...          ...           ...
9352       1729.0  21.9  29.3  0.7568          NaN          NaN    152.258065
9353       1269.0  24.3  23.7  0.7119          NaN          NaN    147.083333
9354       1092.0  26.9  18.3  0.6406          NaN          NaN    122.083333
9355        770.0  28.3  13.5  0.5139          NaN          NaN    111.904762
9356        816.0  28.5  13.1  0.5028          NaN          NaN    120.454545

      High_Ozone
0              1
1              0
2              1
3              1
4              1
...          ...
9352           1
9353           1
9354           1
9355           0
9356           0

[7674 rows x 19 columns]
Количество измерений с CO(GT) выше среднего: 7674

In [132]:
#22. Разделите данные на две группы: измерения, сделанные при температуре выше среднего значения, и измерения, сделанные при температуре ниже среднего значения. Сравните средний уровень концентрации бензола (C6H6(GT)) в этих двух группах
mean_temp = df['T'].mean()
above_mean_temp = df[df['T'] > mean_temp]
below_mean_temp = df[df['T'] <= mean_temp]
mean_benz_above = above_mean_temp['C6H6(GT)'].mean()
mean_benz_below = below_mean_temp['C6H6(GT)'].mean()
print("Средний уровень C6H6(GT) при температуре выше среднего:", mean_benz_above)
print("Средний уровень C6H6(GT) при температуре ниже среднего:", mean_benz_below)

Средний уровень C6H6(GT) при температуре выше среднего: 10.660831865600867
Средний уровень C6H6(GT) при температуре ниже среднего: -30.987044534412952